.MuiBackdrop-root {
  background-color: transparent !important ;
  margin-top: 50px !important;
}
.MuiButton-text {
  width: 5% !important;
}
/* .MuiDrawer-modal{
margin-top: 50px !important;

} */
.MuiPaper-elevation16 {
  margin-top: 80px !important;
  background-color: #ffffff;
  width: 250px;
  box-shadow: 4px 4px 4px rgba(44, 51, 73, 0.25);
  position: fixed !important;
  flex-direction: column;
  top: 0;
  left: 0;

  overflow: scroll;
  /* z-index: 1000; */
}

.listbutton:focus {
  background-color: red !important;
  border: none !important;
  box-shadow: none !important;
  width: 230px;
  justify-content: left !important;
  color: #ffffff;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 40px;
}

.MuiButton-contained {
  background-color: #ffffff;
}
.MuiPaper-elevation1 {
 
}
.fixed {
  width: 200px;
  height: 100%;
  background-color: black;
}

/* .drawer{
  width: "drawerWidth";
  flex-shrink: "0";
  white-space: "nowrap";
} */
#dassh {
  display: flex;
}
.listbutton {
  background-color: transparent !important;
  border: none !important;
}

#drawerHeader {
  display: "flex";
  align-items: "left";
  flex-shrink: 0;
}
.MuiTableCell-root {
  border-color: #ffffff !important;
}
.MuiTableCell-sizeSmall {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
}
.drawerSide {
  position: "fixed" !important;
}
.userInfo {
  color: #697478 !important;
}
.MuiPaper-elevation4 {
  background-color: #ffffff !important;
  color: black !important;
}
.MuiIconButton-edgeStart {
  width: 100px;
}
.MuiGrid-grid-xs-2 {
  max-width: 5.667% !important;
}
.MuiToolbar-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.MuiListItem-button {
  width: 135px;
}
.MuiButton-root {
  width: 100px !important;
  border-radius: 30px !important;
  height: 30px;
}
.ag-root-wrapper {
  border-color: transparent !important;
}
.ag-header {
  border-width: 1px;

  border-color: var(
    --ag-row-border-color,
    var(--ag-secondary-border-color, #dde2eb)
  ) !important;
  border-bottom-style: solid;
}
.MuiListItem-gutters {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.MuiListItem-button {
  margin-left: 40px !important;
}
.MuiIconButton-edgeStart {
  margin-left: -2px !important;
}
#ListBtn:focus .MuiTypography-body1 {
  /* background-color: red !important; */
  font-weight: 500 !important;
}
.inputs {
  display: flex;
  justify-self: flex-start;
  text-align: left;
}
.MuiAppBar-root {
  z-index: 11111111 !important;
}
.MuiList-padding {
  padding-top: 20px !important;
}
.MuiAutocomplete-input:first-child {
  height: 0;
}
.ag-tab-guard-top {
  border: none !important;
}
.active-btn:focus {
  
  box-shadow: none !important;
}
.ag-cell:focus {
  border-color: white !important;
}
.ag-ltr:focus {
  border-color: transparent !important;
}
.ag-theme-alpine:focus {
  border-color: transparent !important;
}
.ag-theme-alpine {
  font-size: 16px !important;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: normal !important;
  border-style: none !important;
}
.ag-cell {
  text-align: left !important;
}
.ag-paging-panel{
  border-top: none !important;
}
.ag-cell-focus,.ag-cell-no-focus{
border:none !important;
}
/* .MuiIconButton-root:hover{
  background: transparent !important;
} */